<div class="side-menu">
  <div class="side-menu__item">
    <a routerLink="/" routerLinkActive="active">
      <img
        class="logo"
        src="https://play-lh.googleusercontent.com/oCqylJAk6MhXjkDZtP7ykXcAu8wXQwTcqlEJ4NjCSSMdW4qthCQxqYk2u1jR2bw-fjA=w600-h300-pc0xffffff-pd"
        alt="Logotipo da Ailos"
      />
    </a>
  </div>
  <div class="side-menu__item">
    <a routerLink="/" routerLinkActive="active">
      <img src="https://img.icons8.com/?size=512&id=lPZm1KMY52UO&format=png" />
    </a>
  </div>
  <div class="side-menu__item">
    <a routerLink="/" routerLinkActive="active">
      <img src="https://img.icons8.com/?size=512&id=A7j5iYOMBYSv&format=png" />
    </a>
  </div>
  <div class="side-menu__item">
    <a routerLink="/" routerLinkActive="active">
      <img src="https://img.icons8.com/?size=512&id=WJRf67QgKO2k&format=png" />
    </a>
  </div>
  <div class="side-menu__item">
    <a routerLink="/" routerLinkActive="active">
      <img src="https://img.icons8.com/?size=512&id=QhlCcbzScElq&format=png" />
    </a>
  </div>
  <div class="side-menu__item">
    <a routerLink="/" routerLinkActive="active">
      <img src="https://img.icons8.com/?size=512&id=PMnW5rymUbkN&format=png" />
    </a>
  </div>
  <div class="side-menu__item">
    <a routerLink="/" routerLinkActive="active">
      <img src="https://img.icons8.com/?size=512&id=T9GUVjFN9Jt6&format=png" />
    </a>
  </div>
</div>
