$color-white: #fff;
$color-black: #000;
$color-primary: #165C7D;
$color-secondary: #739DB1;
// Chamado de "Cor texto sutil" no figma
$color-primary-medium: #A2BECB;
$color-primary-light: #E7EEF1;
$color-neutral-4: #B1B1B1;
$color-neutral-6: #787878;
$color-neutral-6: #787878;
$color-neutral-8: #4F575E;
$color-neutral-10: #101213;
$color-sucess: #00C246;
$color-error: #FF0000;